# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
develop-eggs/
*.egg-info
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.tox/
.nox/

# Virtual environment
.venv/
venv/
env/
/bin/
/include/
/lib/
/share/

# Editors
.vscode/
.idea/
*.swp
*~